[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = https://github.com/kry4r/imgui.git
	branch = vulkan
[submodule "3rdparty/glm"]
	path = 3rdparty/glm
	url = https://github.com/kry4r/glm.git
[submodule "3rdparty/glfw"]
	path = 3rdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "3rdparty/shaderc"]
	path = 3rdparty/shaderc
	url = https://github.com/kry4r/shaderc.git
[submodule "3rdparty/spirv-reflect"]
	path = 3rdparty/spirv-reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
